### basic operation

In [1]:
import torch

In [3]:
x = torch.arange(12)
x

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [4]:
x.shape

torch.Size([12])

In [5]:
x.numel()

12

In [7]:
X = x.reshape(3,4)
X

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [8]:
torch.zeros((2,3,4))

tensor([[[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]]])

In [17]:
X = torch.randn(3,4)
X

tensor([[-0.0272, -0.2866, -0.3299, -0.1051],
        [ 0.1338, -0.7116, -1.0718,  2.4995],
        [ 1.0235, -0.6768, -0.7303, -2.1070]])

In [18]:
X.dtype

torch.float32

In [25]:
X = torch.arange(12).reshape((3,4))
Y = torch.ones(3, 4)
X, Y

(tensor([[ 0,  1,  2,  3],
         [ 4,  5,  6,  7],
         [ 8,  9, 10, 11]]),
 tensor([[1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]]))

In [26]:
torch.cat((X, Y), dim=0), torch.cat((X, Y), dim=1)

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [ 1.,  1.,  1.,  1.],
         [ 1.,  1.,  1.,  1.],
         [ 1.,  1.,  1.,  1.]]),
 tensor([[ 0.,  1.,  2.,  3.,  1.,  1.,  1.,  1.],
         [ 4.,  5.,  6.,  7.,  1.,  1.,  1.,  1.],
         [ 8.,  9., 10., 11.,  1.,  1.,  1.,  1.]]))

In [27]:
X == Y

tensor([[False,  True, False, False],
        [False, False, False, False],
        [False, False, False, False]])

In [28]:
X.sum()

tensor(66)

In [30]:
Z = torch.ones((3,1))
Z

tensor([[1.],
        [1.],
        [1.]])

In [33]:
X + Z == X + 1

tensor([[True, True, True, True],
        [True, True, True, True],
        [True, True, True, True]])

In [35]:
X

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [41]:
X[2,1:3]

tensor([ 9, 10])

### load data

In [44]:
import os

In [68]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')
    f.write('NA, Pave, 127500\n')
    f.write('2, NA, 106000\n')
    f.write('4, NA, 178100\n')
    f.write('NA, NA, 140000\n')

In [69]:
import pandas as pd
data = pd.read_csv(data_file)
data.head()

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA  106000
2       4.0     NA  178100
3       NaN     NA  140000

In [70]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs, outputs

/var/folders/db/b5bnts592kj6l855bh6590s00000gn/T/ipykernel_8726/2244692579.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs = inputs.fillna(inputs.mean())

(   NumRooms  Alley
 0       3.0   Pave
 1       2.0     NA
 2       4.0     NA
 3       3.0     NA,
 0    127500
 1    106000
 2    178100
 3    140000
 Name:  Price, dtype: int64)

In [71]:
inputs = pd.get_dummies(inputs)
inputs

   NumRooms   Alley_ NA   Alley_ Pave
0       3.0           0             1
1       2.0           1             0
2       4.0           1             0
3       3.0           1             0

In [78]:
type(inputs), type(outputs)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [79]:
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 0., 1.],
         [2., 1., 0.],
         [4., 1., 0.],
         [3., 1., 0.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))